body {
    font-family: sans-serif;
    text-decoration: none;
}

header {
    background-color: #F3F3F3;
    display: flex;
    justify-content: center; 
}

nav a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
    margin-top: 30px;
    margin: 10px;
    border-radius: 12px;
}

nav {
    margin-top: 15px;
}

.logo {
    height: 50px;
    width: 50px;
    text-align: left;  
    margin-right: 150px;  
}

.cer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.ma {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: black;
}

.h1fir {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

footer {
    background-color: black;
    color: white;

}

footer p {
    text-decoration: none;
    color: white;
}

.up {
    text-decoration: none;
    color: white; 
}

.product {
    background-color: #D3D3D3;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

.product img {
    border: solid 1px black;    
    padding: 40px;
}

/*
.price {
    background-color: #D3D3D3;
}
*/


.discount {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.text {
    font-family: sans-serif;
    font-size: 20px;
}

.text1 {
    border: solid 1px black;
}
